*.log
.DS_Store
*.o
*.pyc
*~
.rop*
.mc-lists.el
.gdb*
!.gdbinit
*.swap
__pycache__
.vim/plugged/*
.vim/autoload/*
.vim/.netrwhist
.vim/spell
.vim/view
.config/vifm/vifminfo
copyright.pandoc
pandoc
pandoc-citeproc
bin/wpscan*
bin/nikto*
bin/Responder*
bin/HashTag.py
bin/searchsploit*
bin/sqlmap.py
bin/vol.py
bin/xssless.py
.vagrant/
